<div class=page-info>
    <% if (data.invalidation) { %><span class='pull-right label label-warning'>Invalid</span><% } %>
    <h2><i class='fa fa-cube'></i> <%= data.label %> <small>in <a href='<%= data.links.resource.href %>'><%= data.resource.label %></a></small></h2>
</div>

<div class=row>
    <div class='col-xs-3 col-sm-3 col-md-2'>
        <ul class='nav nav-pills nav-stacked' data-target=nav>
            <li><a href='/components/<%= data.uuid %>/'>Summary</a></li>
            <li><a href='/components/<%= data.uuid %>/properties/'>Properties</a></li>
            <li><a href='/components/<%= data.uuid %>/sources/'>Sources</a></li>
            <li><a href='/components/<%= data.uuid %>/derivatives/'>Derivatives</a></li>
            <li><a href='/components/<%= data.uuid %>/relationships/'>Relationships</a></li>
            <li><a href='/components/<%= data.uuid %>/revisions/'>Revisions</a></li>
            <li><a href='/components/<%= data.uuid %>/timeline/'>Timeline</a></li>
        </ul>
    </div>

    <div class='col-xs-9 col-sm-9 col-md-10' data-region=content>
        <h4>Description</h4>

        <% if (data.description) { %>
            <p><%= data.description %></p>
        <% } else { %>
            <p class=text-muted>No description given.</p>
        <% } %>

        <h4>Type</h4>

        <strong title='type'><i class='fa fa-fw fa-code'></i> <%= data.type %></strong>
    </div>
</div>
