<div class=page-info>
    <h2><i class='fa fa-search'></i> Search</h2>
</div>

<div class=row>
    <div class='col-xs-3 col-sm-3 col-md-2'>
        <ul class='nav nav-pills nav-stacked' role=tablist>
            <li class=active><a href=# role=tab data-toggle=tab data-target=#search-resources>0 resources</a></li>
            <li><a href=# role=tab data-toggle=tab data-target=#search-components>0 components</a></li>
            <li><a href=# role=tab data-toggle=tab data-target=#search-relationships>0 relationships</a></li>
        </ul>
    </div>

    <div class='col-xs-9 col-sm-9 col-md-10'>
        <div class=tab-content>
            <div id=search-resources class='tab-pane active'>
                <h3>Resources</h3>
                <div data-region=resources></div>
            </div>

            <div id=search-components class=tab-pane>
                <h3>Components</h3>
                <div data-region=components></div>
            </div>

            <div id=search-relationships class=tab-pane>
                <h3>Relationships</h3>
                <div data-region=relationships></div>
            </div>
        </div>
    </div>
</div>
