<div class=container-fluid>

    <div class='row'>
        <div class='col-md-10 col-md-offset-1'>
            <div class='text-center block block-padding'>
                <h1>Data provenance for the rest of us.</h1>

                <p class=lead>Origins is an <a href="https://github.com/cbmi/origins">open source</a> service for modeling data, workflow, or project topologies by <em>leveraging</em> <a href="http://en.wikipedia.org/wiki/Provenance#Data_provenance">data provenance</a>.</p>

                <!--
                <p><button class='btn btn-primary'><i class='fa fa-play-circle'></i> Watch an 118 Second Screencast</button></p>
                -->

                <hr>

                <div class=row>
                    <div class='col-md-4 col-sm-4 col-xs-4'>
                        <h4><i class='fa fa-database'></i> Import Resources</h4>

                        <p>Import entities and provenance data from a variety of commonly used files, systems, and services into a simple uniform model.</p>
                    </div>

                    <div class='col-md-4 col-sm-4 col-xs-4'>
                        <h4><i class='fa fa-link'></i> Create Topologies</h4>

                        <p>Link entities across resources to model how your data, systems, and operations are logically connected.</p>
                    </div>

                    <div class='col-md-4 col-sm-4 col-xs-4'>
                        <h4><i class='fa fa-calendar'></i> Track Changes</h4>

                        <p>Resources rarely stay static. Get notified when something changes so you can assess how it affects your topologies.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
