<div class=container-fluid>
    <div class=row>
        <div class='col-md-8 col-md-offset-2'>
            <div class='page-header'>
                <div class=page-toolbar>
                    <button class='btn btn-primary btn-sm' data-target=modal-button><i class='fa fa-plus-circle'></i> New</button>
                </div>

                <div class=page-title><i class='fa fa-share-alt'></i> Topologies</div>
            </div>

            <div data-region=list></div>
            <div data-region=modal></div>
        </div>
    </div>
</div>

