<div data-target=error class='alert alert-danger'></div>

<div class=form-group>
    <label for=link-start class='control-label'>Start</label>
    <input id=link-start type=text name=start class='form-control' autocomplete=off>
</div>

<div class=form-group>
    <label for=link-end class='control-label'>End</label>
    <input id=link-end type=text name=end class=form-control autocomplete=off>
</div>

<div class=form-group>
    <label for=link-type class='control-label'>Type</label>
    <input id=link-type type=text name=type placeholder='Optional...' class=form-control>
</div>

<div class=form-group>
    <button type=submit name=submit class='btn btn-default'>Add Link</button>
</div>
