<div class='form-group'>
    <label>Name or label of this entity</label>
    <input class='form-control' name=label type=text>
    <p class=help-block>Short name or label of this entity.</p>
</div>

<div class='form-group'>
    <label>Free-text description of this entity</label>
    <textarea class='form-control' name=description></textarea>
    <p class=help-block>Longer description of the entity.</p>
</div>

<div class='form-group'>
    <label>What type of entity is this?</label>
    <input class='form-control' name=type type=text>
    <p class=help-block>This should be one or two words denoting the type,
        such as "Idea", "Field", "Paper", "SQL Query".</p>
</div>

<div class='form-group'>
    <label>When was this entity created?</label>
    <input class='form-control' name=created type=text>
    <p class=help-block>The date/time should be precise as possible.</p>
</div>
