<div class='form-group'>
    <label>Attributes of the entity</label>

    <div class=row>
        <div class=col-md-6>
            <span>Attribute</span>
            <input class='form-control' name=attribute-key placeholder=Attribute>
        </div>

        <div class=col-md-6>
            <span>Value</span>
            <input class='form-control' name=attribute-value placeholder=Value>
        </div>
    </div>

    <p class=help-block>Key/value pairs of this entity, such as "color => blue", "size => 3 inches".</p>
</div>
