$monospace: Menlo, Monaco, Consolas, "Courier New", monospace;

body {
    padding-top: 100px;
    font-weight: 200;
    font-size: 14px;
    background-color: #f3f3f3;
}

p {
    font-size: 14px;
}


code {
    color: #555;
    background: #eee;
    padding: 1px 2px;
}
