@import "bourbon/bourbon";

$spacing: 18px;
$radius: 2px;

@import "_base";
@import "_modal";
@import "_input";
@import "_header";
@import "_timeline";
@import "_listing";
@import "_summary";

@mixin block {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.spinner {
    text-align: center;
}

#main {
    margin: 0;
}

.block {
    @include block;
}

.block-padding {
    padding: $spacing;
}

// Generic timesince element that displayed relative time
.timesince {
    font-size: 0.9em;
    color: #777;
}

// Generic item that has a title, description, meta, timesince
.item {
    @include clearfix;

    .title {
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        margin-bottom: $spacing;
    }

    .description {
        margin-bottom: $spacing;

        :last-child {
            margin-bottom: 0;
        }
    }

    .meta {
        margin-bottom: 0;
        padding-left: 0;

        font-size: 0.9em;
        color: #777;

        li {
            display: inline-block;
            margin-right: 5px;
        }
    }
}

.path {
    margin-bottom: $spacing;
    color: #777;

    > * {
        display: inline-block;
        margin-right: 5px;
    }
}

.data-type {
    color: #777 !important;
    font-size: 0.9em;
    font-family: $monospace;
}

.page-header {
    border: 0;
    background: #fff;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius: $radius;
    margin: 0 0 $spacing 0;
    padding: $spacing;

    .page-toolbar {
        float: right;
    }

    .page-title {
        font-size: 21px;
        font-weight: 500;
        line-height: 21px;
    }
}

.page-section {
    border: 0;
    background: #fff;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius: $radius;
    margin: $spacing 0;
    padding: $spacing;
}

.properties-table {
    th:first-child {
        width: 150px;
    }

    font-family: monospace;

    tbody {
        font-size: 12px;
    }
}

// Adjust radius and padding for pills
.nav-pills li a {
    border-radius: $radius;
    padding: 5px 10px;
    color: #555;
}

// Add support for a horizontal divider to form item groups
.nav-stacked {
    li.divider {
        border-top: 1px solid #ddd;
        margin: 7px 0;
    }
}

// States
.is-loading {
    color: #777;
    text-align: center;
}

.is-empty {
    color: #777;
}

[data-region=content] {
    :first-child {
        margin-top: 0;
    }
}
